* {
    margin: 0;
    padding: 0;
}
 body{
  
     background-color: rgb(126, 122, 122);
 }
 
 
 
 .header{
     background-color: rgb(209, 205, 199) ;
     height: 70px;
 
 }
 
 .logo{
     float: left;
     padding: auto;
     
 }
 
 .menu{
     float: right;
     margin: 25px;
 }

 .menu a {
     margin-right: 5px;
     text-decoration: none;
 }
 
 
 
 .banner{
     background-image: url(./image.jpg);
     width: 100vw;
     height: auto;
     background-repeat: no-repeat;
 }
 
 .banner h1{
     text-align: center;
     font-size: 80px;
     padding: 100px 100px;
     color: white;
 }
 
 
 
 .footer{
     background-color: black;
     color: white;
     text-align: center;
     padding: 20px 100px 70px 100px
 }
   

 .descripcion h2{

    font-size: 45px;
    color: teal;
    text-align: center;
 }

 .descripcion p {
     text-align: center;
     
 }

 .descripcion{
     margin: 30px
 }

 .imagen2{
     display: flex;
     justify-content: center; 
        
 }


 



